@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "inter", sans-serif;
  background-color: black;
  color: white;
}

.scale-hover {
  @apply transition-transform duration-500 ease-in-out hover:scale-105 cursor-default;
}

.scale-hover-span {
  @apply transition-transform duration-[600ms] ease-out scale-100 cursor-default;
}

.scale-hover-span:hover {
  @apply transition-transform duration-[100ms] scale-150;
  transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.four-seasons {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  letter-spacing: 0.5em;
}

.tracking-extra-wide {
  @media (min-width: 1024px) {
    letter-spacing: 2.2em;
  }
  @media (max-width: 1024px) {
    letter-spacing: 1.2em;
  }

}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}